[submodule "photochem/data"]
	path = photochem/data
	url = https://github.com/Nicholaswogan/photochem_clima_data
[submodule "templates/stellarDB"]
	path = templates/stellarDB
	url = https://github.com/markclaire1/stellarDB.git
